<h1>There's a cockroach in your house!</h1>
<div class="responses">
  <p class="response"><%= @bot_response.description %></P>
</div>

<% @related_choices.each do |choice|  %>
  <%= choice.description %>
  <%= link_to "Choose", bot_response_url(id: choice.next_bot_response_id) %><br>
<% end %>
