<h1>There's a cockroach in your house!</h1>
<div id="responses">
  <p id="response"><%= @bot_response.description %></p>
</div>

<% if @related_choices.empty? && @bot_response.victory == true %>
  <div id="pass">
    YOU WIN!
  </div>
  <%= link_to "Replay?".html_safe, bot_response_url(id: 1) %>
<% elsif @related_choices.empty? && @bot_response.victory == false %>
  <div id="fail">
    YOU LOSE!
  </div>
<% else %>
  <div id="choices">
    <% @related_choices.each do |choice|  %>
      <%= link_to choice.description, bot_response_url(id: choice.next_bot_response_id) %><br>
    <% end %>
  </div>
<% end %>
