<h1>There's a cockroach in your house!</h1>
<div class="responses">
  <p class="response"><%= @bot_response.description %></P>
</div>
<select>
  <option value="choice_one"><%= @related_choices[0] %></option>
  <option value="choice_two"><%= @related_choices[1] %></option>
</select>
